[Unit]
Description=Wordclock
After=network.target

[Service]
ExecStart=/home/admin/rpi_wordclock/venv/bin/python3 /home/admin/rpi_wordclock/wordclock.py
WorkingDirectory=/home/admin/rpi_wordclock/
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=wordclock
NotifyAccess=all
User=root
Group=root
Nice=1

[Install]
WantedBy=multi-user.target